#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.stat-list {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px dashed grey;
}

.stat-tabs {
  max-width: 80vw;
}