#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.upload-container {
  min-height: 80vh;
  display: flex;
  place-items: center;
  overflow-x: hidden;
  max-width: 500px;
}

.stat-list {
  max-height: 68vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px dashed grey;
}

.stat-tabs {
  max-width: 80vw;
}

.instructions .ant-image {
  margin-top: 10px;
}