@import "../node_modules/bootstrap/dist/css/bootstrap-utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Open+Sans:wght@500&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;

  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
